/* remove dot in list */

li {
  list-style-type: none;
}
.container,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* editing container */
.container {
  height: 100px;
  background-color: aqua;
  padding: 0px 60px;
}

/* resize  */
.logo {
  width: 150px;
}
/* li margins */
li {
  font-size: 0.9rem;
  position: relative;
  right: 250px;
  color: gray;
  cursor: pointer;
  margin: 0 10px;
}
.list-end {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.cart,
.userPhoto {
  height: 35px;
  width: 35px;
}
